@font-face {
    font-family:"hora" ;
    src: url(fonte/DS-DIGIT.TTF);
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "hora";
    color: var(--numero);
}

:root
{
    --escuro: rgb(31, 30, 30);
    --numero: rgb(0, 247, 255);
    --contrario: rgb(235, 231, 231);
    --cinza: gray;
}

.trocado
{
    --escuro: rgb(255, 255, 255);
    --numero: rgb(0, 0, 0);
    --contrario: rgb(31, 30, 30);
    --cinza: gray;
}

body
{
    transition: all .4s ease;
    position: relative;
    background: var(--escuro);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;

}

.trocatema
{
    transition: all .4s ease;
    cursor: pointer;
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
    background: var(--contrario);
    border:1px solid var(--contrario) ;
    display: flex;
    align-items: center;
    gap: 5px;
}

.trocatema .tem.sel
{
    height: 100%;
    border-radius: 10px;
    background: var(--escuro);
   
    
}
.trocatema .tem
{
    padding: 5px;
}

.trocatema .tem.sel ion-icon
{
    color: var(--contrario);
    transition: all .3s ease;
}

.trocatema .tem ion-icon
{
    color: var(--escuro);
}

body .container
{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    padding: 32px;
    border-radius: 20px;
    overflow: hidden;
}



body .container .tempo
{
    font-size: 6em;
    text-shadow: 0px 0px 10px var(--numero), 0px 0px 15px var(--numero) ;
    z-index: 10;
}

body .container::after
{
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 99%;
    height: 98%;
    background: var(--escuro);
    border-radius: 20px;
    transition: all .3s ease;
}

body .container::before
{
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 700px;
    background-color: var(--numero);
    animation: giro 6s linear infinite;
    
}

@keyframes giro {

    0%
    {
        transform: translate(-50%, -50%) rotate(0deg) ;
    }

    100%
    {
        transform: translate(-50%, -50%) rotate(360deg) ;
    }
    
}