@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

:root
{
    font-size: 62.5%;

    --verde1: #00856F;
    --verde2: #DCE9E2;
    --escura: #212529;
    --ecuro2: #495057;
    --branco: white;
    --preto: black;
    --bege:#FFFAF1;

    --fonte1: 'DM Sans', sans-serif;
    --fonte2: 'Arial', sans-serif;

    --valor-nav:
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fonte1);
}

nav
{
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    padding-inline: 2.4rem;
    padding-top: 1.6rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

header::before
{
    content: "";

    position: absolute;
    top: 0;
    right: 0;

    width: 100vw;
    height: 108rem;
    background: var(--verde2);

    z-index: -1;
}

header
{

    margin: auto;
    width: 37.5rem;

    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 4.1rem 2.4rem;
}

header>h4
{
    text-align: center;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 2.1rem;
    color: var(--verde1);

    margin-bottom: 1.6rem;

}

header>h1
{
    width: 32.7rem;
    height: 13.2rem;
    margin-bottom: 2.4rem;


    color: var(--escura);
    font-size: 3.4rem;
    font-weight: 700;
    line-height: 4.42rem;
    text-align: center;

}

header>p
{
    width: 32.7rem;
    height: 10.8rem;
    margin-bottom:3.2rem ;

    color: var(--ecuro2);
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.7rem;
    text-align: center;

}

header button
{
    background: var(--verde1);
    border: none;
    padding: 1.6rem 3.2rem;
    width: 26.3rem;
    border-radius: 4rem;

    margin: auto;
    margin-bottom: 6rem;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;

    font-size: 1.4rem;
    line-height: 1.823rem;
    color: var(--branco);
    text-transform: uppercase;

}



.metas
{
    width: 32.7rem;
    height: 47rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6rem;
    padding-block: 4rem;

    background: var(--bege);
    border-radius: .6rem;
    
}

.metas .passo
{

    margin-inline: auto;

}

.metas .passo h3
{
    font-size: 4.8rem;
    color: var(--escura);
    text-align: center;
}
.metas .passo p
{
    margin: 0;
    color: var(--verde1);
    text-align: center;
    font-size: 1.6rem;
}

