
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;

}

:root
{
    --escuro: #272727;
    --escuro2: #999;
    --ecuro3: #ececec;
    --branco: #fff;
    --azul: #287bff;

}

body
{
    min-height: 100vh;
    overflow-x: hidden;
}

.container
{
    position: relative;
    width: 100%;
}

.navegacao
{
    position: fixed;
    width: 300px;
    height: 100%;
    background: var(--azul);
    border-left: 10px solid var(--azul);
    overflow: hidden;

    transition: .4s;
}

.navegacao.ativo
{
    width: 80px;
}

.navegacao ul
{
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
}

.navegacao ul li
{
    position: relative;

    width: 100%;

    list-style: none;

    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.navegacao ul li:hover,
.navegacao ul li.acima
{
    background: var(--branco);
}

.navegacao ul li:nth-child(1)
{
    margin-top: 20px;
    margin-bottom: 40px;
    pointer-events: none;

}

.navegacao ul li:nth-child(1) a
{
    font-size: 24px;
    font-weight: 600;
    
}

.navegacao ul li a
{
    position: relative;
    display: flex;
    
    width: 100%;

    text-decoration: none;
    color: var(--branco);
}

.navegacao ul li:hover a,
.navegacao ul li.acima a
{
    color: var(--azul);
}

.navegacao ul li a .icone
{
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 70px;
    text-align: center;
}

.navegacao ul li a .icone ion-icon
{
    font-size: 1.75em;
}

.navegacao ul li a .titulo
{
    position: relative;
    display: block ;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
}

/* Border radius ivertido*/

.navegacao ul li:hover a::before,
.navegacao ul li.acima a::before
{
    content: '';

    position: absolute;
    top: -50px;
    right: 0;

    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 35px 35px 0 10px var(--branco);
}

.navegacao ul li:hover a::after,
.navegacao ul li.acima a::after
{
    content: '';

    position: absolute;
    bottom: -50px;
    right: 0;

    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 35px -35px 0 10px var(--branco);
}

/* Parte do Main */

.main
{
    position: absolute;
    width: calc(100% - 300px);
    left: 300px;
    min-height: 100vh;
    background: var(--branco);
    transition: .4s;
}

.main.ativo
{
    width: calc(100% - 80px);
    left: 80px;
} 

.barradetopo
{
    
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.menuicon
{
    position: relative;
    top: 0;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
    cursor: pointer;
}

.pesquisar
{
    position: relative;
    width: 400px;
    margin: 0 10px;
}

.pesquisar label
{
    position: relative;
    width: 100%;
}

.pesquisar label input
{
    width: 100%;
    height: 40px;
    border-radius: 40px;
    padding: 5px 20px;
    padding-left: 35px;
    font-size: 15px;
    outline: none;
    border: 1px solid var(--escuro2);
    
}

.pesquisar label ion-icon
{
    position: absolute;
    top: 0;
    left: 10px;
    font-size: 1.2em;
}

.imgbox
{
    position: relative;

    width: 40px;
    height: 40px;
    border-radius: 50%;

    overflow: hidden;
    cursor: pointer;

}

.imgbox img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*Cards*/

.boxdascards
{
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 30px
}

.boxdascards .card
{
    position: relative;
    background: var(--branco);
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 7px 25px rgba(0,0 , 0, 0.1);

    display: flex;
    justify-content: space-between;
    cursor: pointer;
    transition: .5s;
}
.boxdascards .card .numeros
{
    position: relative;
    font-weight: 500;
    font-size: 2em;
    color: var(--azul);
}

.boxdascards .card  .nomedocard
{
    color: var(--escuro2);
    font-size: 1.1em;
    margin-top: 5px; 
}

.boxdascards .card .iconedocard
{
    font-size: 2.5em;
    color: var(--escuro2);
}

.boxdascards .card:hover
{
    background: var(--azul);
    box-shadow: 0 0px 0px rgba(0,0 , 0, 0.08);
}

.boxdascards .card:hover .numeros,
.boxdascards .card:hover .nomedocard,
.boxdascards .card:hover .iconedocard
{
    color: var(--branco);
}

.detalhes
{
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 30px;
    margin-top: 10px;
}

.detalhes .detalhesrecentes
{
    position: relative;
    display: grid;
    min-height: 500px;
    background: var(--branco);
    padding: 20px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

.detalhes .detalhesrecentes .cardcabecalho
{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.detalhes .cardcabecalho h2
{
    font-weight: 600;
    color: var(--azul);
}

.detalhes .detalhesrecentes .cardcabecalho .vrtd
{
    position: relative;
    padding: 7px 15px;
    background: var(--azul);
    text-decoration: none;
    color: var(--branco);
    border-radius: 17px;
}

.detalhes table
{
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.detalhes .detalhesrecentes table thead td 
{
    font-weight: 600;
}

.detalhes .detalhesrecentes table tbody tr 
{
    color: var(--escuro);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    transition: .4s;
    
}
.detalhes .detalhesrecentes table tbody tr:last-child
{
    border-bottom: none;
}
.detalhes .detalhesrecentes table tbody tr:hover
{
    
    background: var(--azul);
    color: var(--branco);
}

.detalhes .detalhesrecentes table tr td
{
    padding: 10px;
}

.detalhes .detalhesrecentes table tr td:last-child
{
    text-align: end;
}

.detalhes .detalhesrecentes table tr td:nth-child(2)
{
    text-align: end;
}

.detalhes .detalhesrecentes table tr td:nth-child(3)
{
    text-align: center;
}

.status.entregue
{
    padding: 4px 8px;
    border-radius: 15px;
    font-size: 14px;
    font-weight: 500;
    color: var(--branco);
    background: #8de02c;
}

.status.pendente
{
    padding: 4px 8px;
    border-radius: 15px;
    font-size: 14px;
    font-weight: 500;
    color: var(--branco);
    background: #fcb903;
}

.status.processando
{
    padding: 4px 8px;
    border-radius: 15px;
    font-size: 14px;
    font-weight: 500;
    color: var(--branco);
    background: #1655ca;
}

.status.devolvido
{
    padding: 4px 8px;
    border-radius: 15px;
    font-size: 14px;
    font-weight: 500;
    color: var(--branco);
    background: #d61818;
}

.clientesrecentes
{
    position: relative;
    display: grid;
    min-height: 500px;
    padding: 20px;
    background: var(--branco);
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

.clientesrecentes .caixadeimg
{
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}

.clientesrecentes .caixadeimg img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.clientesrecentes table tr
{
    transition: .4s;
}

.clientesrecentes table tr:hover
{
    background: var(--azul);
    color: var(--branco);
}

.clientesrecentes table tr td
{
    padding: 12px 10px;
}

.clientesrecentes table tr td h3
{
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2em;
}

.clientesrecentes table tr td h3 span
{
    font-size: 14px;
    color: var(--escuro2);
    transition: .4s;
}

.clientesrecentes table tr:hover td h3 span
{
    color: var(--branco);
}

/*Agora vamos para a responsividade*/

@media(max-width:992px)
{
   .navegacao
   {
    left: -300px;
   }

   .navegacao.ativo
   {
    width: 300px;
    left: 0;
   }

   .main
   {
    width: 100%;
    left: 0;
   }
   .main.ativo
   {
    left: 300px;
   }

   .boxdascards
   {
    grid-template-columns: repeat(2,1fr);
   }
    
   .imgbox
   {
    min-width: 40px;
   }

    
}

@media(max-width:770px)
{
    .detalhes
    {
     grid-template-columns: repeat(1,1fr);
    }

    .detalhesrecentes
    {
        overflow-x: auto;
    }
}

@media(max-width:482px)
{
    .boxdascards
    {
     grid-template-columns: repeat(1,1fr);
    }
    
    .cardcabecalho
    {
        font-size: 20px;
    }

    .navegacao
    {
        width: 100%;
        left: -100%;
        z-index: 1000;
    }

    .navegacao.ativo
    {
        width: 100%;
        left: 0;
    }

    .menuicon
    {
        z-index: 1001;
        
    }

    .main.ativo .menuicon
    {
        position: fixed;
        right: 0;
      
        left: initial;
        color: var(--branco);
    }
}