@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');


:root
{
    --cor-principal: #7380ec;
    --cor-danger: #ff7782;
    --cor-sucesso: #41f1b6;
    --cor-aviso: #ffbb55;
    --cor-branca: #fff;
    --cor-info-escuro: #7d8da1;
    --cor-info-claro: #dce1eb;
    --cor-claro: rgba(132, 139, 200, 0.18);
    --cor-escuro: #363949;
    --cor-principal-variant: #111e88;
    --cor-escuro-variante: #677483;
    --cor-bacground: #f6f6f9;

    --border-radios-card:2rem;
    --border-radios-1: 0.4rem;
    --border-radios-2: 0.8rem;
    --border-radios-3: 1.2rem;

    --padding-card: 1.8rem;
    --padding-1: 1.2rem;

    --box-shadow: 0 2rem 3rem var(--cor-claro);
}

*
{

    margin:  0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    appearance: none;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;

}

a
{
    color: var(--cor-escuro);
}

img
{
    display: block;
    width: 100%;
}

h1
{
    font-weight: 800;
    font-size: 1.8rem;
}

h2
{
    font-size: 1.4rem;
}

h3
{
    font-size: .87rem;
 
}

h4
{
    font-size: .8rem;
}

h5
{
    font-size: .77rem;
}

small
{
    font-size: .75rem;
}

.foto-de-perfil
{
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    overflow: hidden;
}

.texto-mutado
{
    color: var(--cor-info-escuro);
}

p
{
    color: var(--cor-escuro-variante);
}

b
{
    color: var(--cor-escuro);
}

.principal
{
    color: var(--cor-principal);
}

.danger
{
    color: var(--cor-danger);
}

.sucesso
{
    color: var(--cor-sucesso);
}

.aviso
{
    color: var(--cor-aviso);
}

html
{
    font-size: 14px;
}

body
{
    width: 10vw;
    height: 100vh;
    font-size: .88rem;
    background: var(--cor-bacground);
    user-select: none;
    overflow-x: hidden;
    color: var(--cor-escuro);
}

.container
{
    display: grid;
    margin: auto;
    width: 96%;
    gap: 1.8rem;
    grid-template-columns: 14rem auto 23rem;
}

aside
{
    height: 100vh;
  
}

aside .topo
{
    
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 1.4rem;
}

aside .topo .logotipo
{
    display: flex;
    gap: .8rem;
}

aside .topo img
{
    width: 2rem;
    height: 2rem;
}

aside .topo .menubtn
{
    display: none;
}

/*====================MENU DE OPÇÕES====================*/

aside .baradeopcoes
{
   
    display: flex;
    flex-direction: column;
    height: 86vh;
    position: relative;
    top: 3rem;
}

aside .baradeopcoes a
{
    display: flex;
    color: var(--cor-info-escuro);
    margin-left: 2rem;
    height: 3.7rem;
    gap: 1rem;
    align-items: center;
    position: relative;
    transition: all 300ms ease;
}

aside .baradeopcoes a:hover
{
    color: var(--cor-principal);
}

aside .baradeopcoes a span
{
    font-size: 1.6rem;
    transition: all 200ms ease;
}

aside .baradeopcoes a span.menum
{
    font-size: 11px;
    color: var(--cor-branca);
    border-radius: var(--border-radios-1);
    background: var(--cor-danger);
    padding: 2px 7px;
}

aside .baradeopcoes a:hover span
{
    margin-left: 1rem;
   
}

aside .baradeopcoes a:last-child
{
    position: absolute;
    bottom: 2rem;
    width: 100%;
}

aside .baradeopcoes a.ativo
{
    background: var(--cor-claro);
    color: var(--cor-principal);
    margin-left: 0;
}

aside .baradeopcoes a.ativo::before
{
    content: '';
    width: 6px;
    height: 100%;
    background: var(--cor-principal);
}

aside .baradeopcoes a.ativo span
{
    margin-left: calc(1rem - 3px);
}

aside h3
{
    font-weight: 500;
}

/*============================MAIN MENU=============================*/

main
{
    margin-top: 1.4rem;
}

main .data
{
    display: inline-block;
    background: var(--cor-claro);
    border-radius: var(--border-radios-1);
    margin-top: 1rem;
    padding: .5rem 1.6rem;

}

main .data input[type='date']
{
    background: transparent;
    border: none;
    color: var(--cor-escuro);
}

main .insights
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.6rem;
}

main .insights > div
{
    background: var(--cor-branca);
    padding: var(--padding-card);
    margin-top: 1rem;
    border-radius: var(--border-radios-card);
    box-shadow: var(--box-shadow);
    transition: all 500ms ease;
}

main .insights > div:hover
{
    box-shadow: none;
}