




*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body
{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;

    background: rgb(255, 255, 255);

    color: white;
}

.container
{
    width: 310px;
    height: 560px;
    border-radius: 24px;
    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    background: rgb(0, 0, 0);

}



.cima
{
    
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 7%;
}

.tela
{
    width: 94%;
    height: 85%;
    border-radius: 2px;
    background: rgb(2, 6, 29);

   
    position: relative;
    display: flex;
    flex-direction: column;

}

.conversa
{
    width: 100%;
    height: 85%;
    overflow-y: scroll;
    flex-direction: column;
}

.conversa::-webkit-scrollbar
{
    background: rgb(4, 9, 39);
    width: 5px; 
    border-radius: 8px;
    z-index: 2;
}

.conversa::-webkit-scrollbar-thumb
{
    background: rgb(250, 2, 250);
    border-radius: 6px;
}


.conversa p
{
    font-size: 1.2em;
}

.conversa p.ela
{
    margin: 10px;
    padding: 3px;
    border-left: 2px solid rgb(255, 0, 255);
}

.conversa p.eu
{
    width: 90%;
    display: inline-block;
    align-self: flex-start;
    text-align: right;
    border-right: 3px solid rgb(162, 0, 255);
    padding: 3px;
}




.contato
{
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 10px;

    position: sticky;
    top: 0;
    width: 100%;

    background: #47004E;

}

.contato .voltar a
{
    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    text-decoration: none;
    
}

.contato .voltar a .ft
{
    font-size: 1.5em;
}

.contato .nome a
{
    display: flex;
    align-self: center;
    justify-content: center;

    color: white;
    text-decoration: none;
}

.contato .chamadas ion-icon
{
    font-size: 1.1em;
    margin: 0px 5px;
}



.teclas
{
    
    width: 100%;
    height: 8%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 45px;
   

}

.teclas .sair a 
{
    text-decoration: none;
    color: white;
    font-weight: 600;
}

.teclas .home a 
{
    text-decoration: none;
    color: white;
    font-weight: 700;
}

.teclas .opcoes a 
{
    text-decoration: none;
    color: white;
    font-weight: 600;

}






.doit
{
    display: flex;
    align-items: center;
    justify-content: space-between;

    background: #47004E;
    
    width: 100%;

    padding: 5px 15px;

}

.emojji ion-icon
{
    font-size: 1.2em;
}

.digite 
{
    border-left: 2px solid rgb(255, 0, 212);
    padding: 0px 10px ;
}

.digite p
{
    opacity: .5;
}

.gravar ion-icon
{
    
    font-size: 1.3em;
}